
/* ---------- HTML file info  ---------- */
html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 100%;
  line-height: 1.3em;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}


/* ---------- Background containers ---------- */
#backContainer {
	background-color: grey;
	overflow: auto;
}

#mainContainer {
	height: 100%;
	width: 97%;
	background-color: grey;
	max-width: 1000px;
	margin: auto;
	overflow:auto
	
}

/* ---------- Center container Stuff ---------- */
#centerContainer {
	float:left;
	height: 99%;
	width: 74%;
	background-color: grey;
}

#topBox {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 40px;
	width: 96%;
	background-color: grey;
	border: solid white 1px;
}

#topBox2 {
	margin-right: 10px;
	float: right;
	margin-top: 5px;
	height: 80px;
	width: 96%;
	background-color: grey;
	border: solid white 1px;
}


/* ----- Lower Half ----- */
#mainPanelContainer {
	margin-right: 10px;
	margin-top: 60px;
	float: right;
	height: 650px;
	width: 96%;
	background-color: grey;
	text-align: center;
}

#mainPanelView {
	height: 92%;
	width: 100%;
	background-color: grey;
	border: solid white 3px;
}

.tabContainer{
	display: inline-block;
	float: left;
	width: 130px;
	height: 43px;
    white-space: nowrap;
    cursor: pointer;
	margin-left: 1px;
	margin-right: 1px;
	list-style-type: none;
}

.tabContainer2{
	display: inline-block;
	float: left;
	width: 130px;
	height: 43px;
    white-space: nowrap;
    cursor: pointer;
	margin-left: 1px;
	margin-right: 1px;
	list-style-type: none;
}

.tabs {
	width: 100%;
	height: 30px;
}

.tabs li {
	float: left;
	display: inline-block;
    width: 120px;
	height: 30px;
	margin-top: 4px;
	margin-left: 4px;
	border: solid white 1px;
}

.tabs p {
	color: white;
	position: relative;
	bottom: 8px;
}

.tabs p:hover {
	text-decoration: underline;
}


/* ---------- Main Panel ---------- */
.mainPanelView {
	height: 100%
}

.panelSubTitle {
	color: white;
	font-size: 12pt;
	text-align: left;
	margin-left: 20px;
}

.panelTitle {
	text-align: left;
	color: white;
	font-size: 18pt;
	font-weight: bold;
	margin-left: 20px;
}

/* ----------- Main Panel Views ---------- */

.viewContainerTitle {
	display:inline-block;
	position: relative;
	width: 100%;
	height: 25%;
}

.actionBar li {
    display: inline-block;
	color: white;
	float: left;
	height: 30px;
	width: 120px;
    border: solid white 1px;
    white-space: nowrap;
    cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
	text-align: left;
}

.actionButton p {
	position: relative;
	bottom: 8px;
	text-align: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.viewContainerMain {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 75%;
}

.leftViewPanel {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}

.rightViewPanel {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}




/* ----- Room View ----- */





/* ---------- Side container Stuff ---------- */
#sideContainer {
	float:left;
	display:inline-block;
	height: 960px;
	width: 24%;
	background-color: grey;
	margin: auto;
	overflow:auto;
	margin-left: 10px;
}

#logBox {
	float:left;
	height: 90%;
	width:99%;
	margin-top:10px;
	overflow:hidden;
	}

#logList {
	list-style-type: none;
	color: white;
	
}

.logEntry {
	margin-top: 15px;
	margin-left: -20px;
	margin-right: 10px;
}